[Unit]
Description=OpenSSH server daemon
Documentation=man:sshd(8) man:sshd_config(5)

[Service]
Type=notify
ExecStart=/usr/local/bin/dockerd --data-root=/data/docker 
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
